<a href="https://colab.research.google.com/github/LordShadow01/Programacion_lll/blob/main/CodigoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programacion computacional lll")

Hola Mundo
Bienvenidos chicos a programacion computacional lll

In [ ]:
nombre = "Jonathan Rosales"
edad = 20
print(nombre, edad)

edad = "Veinte"
print("Tu edad es", edad)

Jonathan Rosales 20
Tu edad es Veinte

In [ ]:
num1 = 20
num2= 8.9
suma = num1 + num2
print("la suma es:",suma)

la suma es: 28.9

In [ ]:
#Funciones

num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))
suma = num1 + num2
print("La suma es:", suma)

Ingresa el primer número: 2
Ingresa el segundo número: 2
La suma es: 4.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es:", resta)

Num1: 3
Num2: 2
La resta es: 1.0

In [ ]:
#Uso de Funciones Y Tarea
#Resta
res1 = int(input("ingrese el primer numero: "))
res2 = int(input("ingrese el segundo numero: "))

Respuesta = res1 - res2
print("la resta de los numeros es:", Respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta de los numeros es: 0

In [ ]:
#Resta de 2 Numeros
def restar_dos_numeros():
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    return num1 - num2

# Usando el resultado
resultado = restar_dos_numeros()
print("La resta de los números es:", resultado)

Ingrese el primer número: 5
Ingrese el segundo número: 4
La resta de los números es: 1

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones , que reste dos numeros introducirlos por el usuario Tarea....


#Ejercicio que convierta grados celcius a farenheit
def  celciusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c= int(input("Grados c: "))
f= celciusFarenheit(c)
print("F ",f)

Grados c: 4
F  39.2

In [ ]:
#ejercicio de grados farenheit a celcius
def farenheitCelcius(f):
  return (f-32) / 1.8 #5/9

In [ ]:
f= float(input("Grados f: "))
c= farenheitCelcius(f)
print("C ",c)

Grados f: 3
C  -16.11111111111111

In [ ]:
#ejercicio de celcius a kelvin
def celciusKelvin(c):
  return c + 273.15

In [ ]:
c= float(input("Grados c: "))
k= celciusKelvin(c)
print("K ",k)

Grados c: 2
K  275.15

In [ ]:
#Ejercicio que calcule el suelto de un empleado segun el numero de horas trabajadas  y el valor de horas
def sueldo(numHrs, valorXhr):
    sueldo = numHrs * valorXhr * 30
    return sueldo

numHrs = float(input("Hrs: "))
valorXhr = float(input("valorXhr: "))
sueldo = sueldo(numHrs, valorXhr)
print("sueldo: ", sueldo)

Hrs: 5
valorXhr: 1
sueldo:  150.0

In [ ]:
#Ejercicio  que permita elevar un numero a un exponente

def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))
resultado = exponenciacion(b,e)
print("El numero :", b,", elevado a",e,",el resultado es:",resultado)

Base: 3
Exponente: 1
El numero : 3.0 , elevado a 1.0 ,el resultado es: 3.0

In [ ]:
#Uso de funcion lambda y preconstruidas con map, filter y reduce......................



# ....We can't fix it if we never face it(Free)

def suma(a, b):
  return a + b

a = float(input("Num1: "))
b = float(input("Num2: "))
resultado_suma = suma(a, b)
print("La suma es:", resultado_suma)

Num1: 2
Num2: 4
La suma es: 6.0

In [ ]:
# Ejemplo de uso de una función anónima (lambda) para sumar
a = float(input("Num1: "))
b = float(input("Num2: "))

sum_lambda = lambda a, b: a + b
print("La suma de", a, "más", b, "es igual a", sum_lambda(a, b))

Num1: 3
Num2: 4
La suma de 3.0 más 4.0 es igual a 7.0

In [ ]:
# map() con función tradicional
def extraer_primera_letra(dia):
  return dia[0]

semana = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

primera_letra_dia = list(map(extraer_primera_letra, semana))
print(primera_letra_dia)

mayus_semana = list(map(lambda dia: dia.upper(), semana))
print(mayus_semana)

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIÉRCOLES', 'JUEVES', 'VIERNES', 'SÁBADO']

In [ ]:
# map() para calcular la potencia de una lista de números
numeros = [2, 4, 6, 8, 7, 9]
potencia = int(input("Potencia: "))

numero_potencia = list(map(lambda num: num**potencia, numeros))
print(numero_potencia)

Potencia: 3
[8, 64, 216, 512, 343, 729]

In [ ]:
# map() para generar una tabla de multiplicar
ntabla = int(input("Tabla:"))
numeros_tabla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tabla_multiplicar = list(map(lambda num: num * ntabla, numeros_tabla))
print(tabla_multiplicar)

Tabla:4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [ ]:
# filter() para encontrar números pares e impares
serie = [5, 6, 9, 2, 7, 8]

pares = list(filter(lambda num: num % 2 == 0, serie))
print("Pares:", pares)

impares = list(filter(lambda num: num % 2 != 0, serie))
print("Impares:", impares)

Pares: [6, 2, 8]
Impares: [5, 9, 7]

In [ ]:
# filter() con entrada del usuario
serie_user = input("Introduce una serie de números separados por comas (ej: 5,2,8,1): ")
serie_user_lista = serie_user.split(",")

pares_user = list(filter(lambda num: int(num) % 2 == 0, serie_user_lista))
print("Pares:", pares_user)

impares_user = list(filter(lambda num: int(num) % 2 != 0, serie_user_lista))
print("Impares:", impares_user)

Introduce una serie de números separados por comas (ej: 5,2,8,1): 2,3,4,5
Pares: ['2', '4']
Impares: ['3', '5']

In [ ]:
# Hacer un ejercicio en python usando la funcion filter y lambda que de una serie de notas introducidas por el usuario,
# establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

notas_str = input("Introduce las notas separadas por comas (ej: 8,5,7.5,4): ")
notas_lista = [float(nota) for nota in notas_str.split(",")]

aprobados = list(filter(lambda nota: nota >= 6, notas_lista))
reprobados = list(filter(lambda nota: nota < 6, notas_lista))

print(f"Notas aprobadas: {aprobados} ({len(aprobados)} alumnos)")
print(f"Notas reprobadas: {reprobados} ({len(reprobados)} alumnos)")

Introduce las notas separadas por comas (ej: 8,5,7.5,4): 3,4,7,8,9
Notas aprobadas: [7.0, 8.0, 9.0] (3 alumnos)
Notas reprobadas: [3.0, 4.0] (2 alumnos)

In [ ]:
# reduce() para sumar todos los elementos de una lista
from functools import reduce

numeros = [5, 4, 9, 6, 8, 2, 3]

suma_total = reduce(lambda acumulador, num: acumulador + num, numeros)
print("La suma es:", suma_total)

suma_pares = reduce(lambda acumulador, num: acumulador + num, filter(lambda num: num % 2 == 0, numeros))
print("La suma de los pares es:", suma_pares)

La suma es: 37
La suma de los pares es: 20

In [ ]:
#reduce
from functools import reduce

numeros = [5, 4, 9, 6, 8, 2, 3]
suma = reduce(lambda acum, num: num+acum,numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0,numeros))
sumaPar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros, 0)

print("La suma es:", suma)
print("La suma de los pares es:", sumaPares)
print("La suma de los pares es:", sumaPar)

La suma es: 37
La suma de los pares es: 20
La suma de los pares es: 20

In [ ]:
#tupla ejemplo
tupla =(5,2,3,7,8,5)
print("Turpla:",tupla, "Primer elemento:",tupla[0],"El ultimo 5 parece",tupla.count(5))
print("El ultimo elemento es:",tupla[-1])
print("Rango:", tupla[0:5])

Turpla: (5, 2, 3, 7, 8, 5) Primer elemento: 5 El ultimo 5 parece 2
El ultimo elemento es: 5
Rango: (5, 2, 3, 7, 8)

##sacar un dia en una semana

In [ ]:
## sacar un dia en una semana
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado")
mes = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diasemana = semana[fecha.isoweekday()]

print(fecha, fecha.isoweekday(),diasemana)
print(dia,mes,year)

2025-08-12 2 Martes
12 8 2025

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado")
meses = ("","Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year

diasemana = semana[fecha.isoweekday()]

print(diasemana,dia,"del",meses[mes],"del",year)
print(fecha, fecha.isoweekday(),diasemana)
print(dia,mes,year)

Martes 12 del Agosto del 2025
2025-08-12 2 Martes
12 8 2025

##Las Listas

In [ ]:
lista =[5,8,9,4,"program lll",True, [4,8,9,[8,9,4]]]
print(lista)

[5, 8, 9, 4, 'program lll', True, [4, 8, 9, [8, 9, 4]]]

## Hacer un ejercicio en python que obtenga la nota final de progra lll del computo l,haciendo uso de las listas y de las tuplas

In [ ]:
def calcularPromedio(nota,notas):
  return notas[1]*0.3 + nota ##8*0.3 + 9*0.3 +10*

In [ ]:
from functools import reduce

notas = [
    ["lab1", 9, 0.3],
    ["lab2", 9, 0.3],
    ["parcial", 10, 0.4]
]

def calcularPromedio(acumulado, nota):
    return acumulado + nota[1] * nota[2]

prom = reduce(calcularPromedio, notas, 0)

print("Nota final:", round(prom, 2))

Nota final: 9.4

In [ ]:
notas = {"lab1": 9, "lab2": 9, "parcial": 10}
prom = notas["lab1"] * 0.3 + notas["lab2"] * 0.3 + notas["parcial"] * 0.4
print("Nota final:", int(prom * 10) / 10)

Nota final: 9.3

# **Nota Final de Progra III usando reduce**

In [ ]:
from functools import reduce

def calcularPromedio(total, actividad):
    return total + actividad[1] * actividad[2]

# Computo I: Lab1, Lab2, Parcial
notas = [
    ["Lab1", 8, 0.3],
    ["Lab2", 9, 0.3],
    ["Parcial", 10, 0.4]
]

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de Progra III:", prom)

Nota Final de Progra III: 9.1

# **Ingreso de notas por el usuario**

In [ ]:
from functools import reduce

def calcularPromedio(total, actividad):
    return total + actividad[1] * actividad[2]

notas = []
for i in range(1, 4):
    nota = float(input(f"Act {i}: "))
    porcentaje = float(input("Porcentaje: "))
    notas.append([f"Act {i}", nota, porcentaje])

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de C1:", prom)

Act 1: 3
Porcentaje: 3
Act 2: 2
Porcentaje: 1
Act 3: 3
Porcentaje: 4
Nota Final de C1: 23.0

# **Ordenamiento de lista**

In [ ]:
valores = [5, 8, 9, 1, 3, 4, 7]

print("Lista original:", valores)

valores.sort()
print("Ordenados de menor a mayor:", valores)

valores.reverse()
print("Ordenados de mayor a menor:", valores)

Lista original: [5, 8, 9, 1, 3, 4, 7]
Ordenados de menor a mayor: [1, 3, 4, 5, 7, 8, 9]
Ordenados de mayor a menor: [9, 8, 7, 5, 4, 3, 1]

# **Diccionarios**

In [ ]:
persona = {
    "codigo": "USIS018804",
    "nombre": "Luis Hernandez",
    "materias": [
        {
            "codigo": 611,
            "nombre": "Programacion I",
            "notas": {
                "c1": {"lab1": 8, "lab2": 9.9, "parcial": 10},
                "c2": {"lab1": 7.78, "lab2": 6.5, "parcial": 8},
                "c3": {"lab1": 10, "lab2": 9, "parcial": 9}
            }
        },
        {
            "codigo": 612,
            "nombre": "Programacion II",
            "notas": {
                "c1": {"lab1": 5, "lab2": 7, "parcial": 9},
                "c2": {"lab1": 9, "lab2": 6, "parcial": 10},
                "c3": {"lab1": 10, "lab2": 10, "parcial": 9}
            }
        }
    ]
}

print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI:",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"])

Luis Hernandez -> Programacion I -> CI: {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

# **Clasificación de edades**

In [ ]:
edad = int(input("Edad: "))

if edad < 0:
    print("Error al ingresar la edad, solo valores positivos.")
elif edad <= 2:
    print("Eres un bebé...")
elif edad <= 11:
    print("Eres un niño...")
elif edad < 18:
    print("Eres un adolescente...")
elif edad < 65:
    print("Eres un adulto responsable...")
elif edad < 85:
    print("Eres un adulto mayor...")
else:
    print("Larga vida...")

Edad: 20
Eres un adulto responsable...

# **LAb2**

# Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). (20%)

In [ ]:
def calcular_pago_agua(metros_consumidos):      ## pues esto representa cuántos metros cúbicos de agua se usaron
    cuota_fija = 6.00
    if metros_consumidos <= 18:                 ##Si el consumo es igual o menor alos 18 metros, solo se pagara la cuota fija nada más
        total = cuota_fija
    elif metros_consumidos <= 28:
        exceso = metros_consumidos - 18
        total = cuota_fija + (exceso * 0.45)    ##bueno aqui se calcula cuántos metros están por encima de 18 (exceso) y luego lo  multiplico por $0.45.
    else:
        exceso_1 = 10  ## # 10 m / 19 o 28            #Si el consumo es mayor a 28 metros lo divido en dos partes
        exceso_2 = metros_consumidos - 28
        total = cuota_fija + (exceso_1 * 0.45) + (exceso_2 * 0.65)
    return round(total, 2)

# Ejemplos de uso
print("Consumo de 15 metros: $", calcular_pago_agua(15))  # $6.00
print("Consumo de 25 metros: $", calcular_pago_agua(25))  # $9.15
print("Consumo de 38 metros: $", calcular_pago_agua(38))  # $17.00

Consumo de 15 metros: $ 6.0
Consumo de 25 metros: $ 9.15
Consumo de 38 metros: $ 17.0

# **Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto. (20%)**

In [ ]:
def calcular_sueldo_neto():
    """
    Calcula el sueldo neto mensual y quincenal aplicando deducciones:
    AFP (7.25%), ISSS (3%) e ISR según tramos establecidos.
    """

    # Tabla de tramos de ISR: [desde, hasta, %, exceso, cuota fija]
    isr_tramos = [
        [0.01,    472.00,    0,     0.00,      0.00],
        [472.01,  895.24,   10,   472.00,     15.27],
        [895.25,  2038.10,  20,   895.24,     60.00],
        [2038.11, float('inf'), 30,  2038.10,    288.57],
    ]

    sueldo_bruto = float(input("Ingrese el sueldo bruto mensual: $"))

    afp = sueldo_bruto * 0.0725
    isss = sueldo_bruto * 0.03
    sueldo_para_isr = sueldo_bruto - afp
    isr = 0.0

    # Cálculo del ISR según el tramo
    for desde, hasta, porcentaje, exceso, cuota in isr_tramos:
        if desde <= sueldo_para_isr <= hasta:
            isr = ((sueldo_para_isr - exceso) * porcentaje / 100) + cuota
            break

    sueldo_neto_mensual = sueldo_bruto - afp - isss - isr
    sueldo_neto_quincenal = sueldo_neto_mensual / 2

    # Mostrar resultados
    print("\n--- Resumen de Sueldo ---")
    print(f"Sueldo bruto:           ${sueldo_bruto:.2f}")
    print(f"AFP (7.25%):            ${afp:.2f}")
    print(f"ISSS (3%):              ${isss:.2f}")
    print(f"Base para ISR:          ${sueldo_para_isr:.2f}")
    print(f"ISR:                    ${isr:.2f}")
    print(f"Sueldo neto mensual:    ${sueldo_neto_mensual:.2f}")
    print(f"Sueldo neto quincenal:  ${sueldo_neto_quincenal:.2f}")
    print("-------------------------\n")

# Corrección del nombre de la condición principal
if __name__ == "__main__":
    calcular_sueldo_neto()

Ingrese el sueldo bruto mensual: $300

--- Resumen de Sueldo ---
Sueldo bruto:           $300.00
AFP (7.25%):            $21.75
ISSS (3%):              $9.00
Base para ISR:          $278.25
ISR:                    $0.00
Sueldo neto mensual:    $269.25
Sueldo neto quincenal:  $134.62
-------------------------

# Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos. (10%)

In [ ]:
def acumulacion_meses_por_mes(n):
    # use la fórmula triangular
    return [(mes, (mes * (mes + 1)) // 2) for mes in range(1, n + 1)]

def mostrar_tabla(tabla):
    print("\nTabla de acumulación de meses:\n")
    print(f"{'Mes':<6} | {'Acumulado':<10}")
    print("-" * 22)
    for mes, acumulado in tabla:
        print(f"{mes:<6} | {acumulado:<10}")
    print("-" * 22)

def iniciar():
    print("Calculador de Meses Acumulados\n")
    try:
        n = int(input("Ingrese el número de meses (n): "))
        if n <= 0:
            print("Por favor ingrese un número positivo.")
            return
        tabla = acumulacion_meses_por_mes(n)
        mostrar_tabla(tabla)
        total = (n * (n + 1) * (n + 2)) // 6
        print(f"\nAcumulación total hasta el mes {n}: {total} meses\n")
    except ValueError:
        print("Entrada inválida. Por favor ingrese un número entero.")

iniciar()

Calculador de Meses Acumulados

Ingrese el número de meses (n): 5

Tabla de acumulación de meses:

Mes    | Acumulado
----------------------
1      | 1
2      | 3
3      | 6
4      | 10
5      | 15
----------------------

Acumulación total hasta el mes 5: 35 meses

# Conversores: (40%) (10 ítems como mínimo por cada uno)

In [ ]:
# =========================
# Conversores en Python la tarea :v
# =========================

def convertir(valor, factor):
    return valor * factor

# -------------------------
# Conversores por categorías para asi no confundirse
# -------------------------

monedas = [
    ("USD -> EUR", 0.86),      # Dólar estadounidense a Euro
    ("EUR -> USD", 1/0.86),    # Euro a Dólar estadounidense
    ("USD -> MXN", 18.83),     # Dólar estadounidense a Peso Mexicano
    ("MXN -> USD", 1/18.83),   # Peso Mexicano a Dólar estadounidense
    ("USD -> GBP", 0.82),      # Dólar estadounidense a Libra Esterlina
    ("GBP -> USD", 1/0.82),    # Libra Esterlina a Dólar estadounidense
    ("USD -> JPY", 142.5),     # Dólar estadounidense a Yen Japonés
    ("JPY -> USD", 1/142.5),   # Yen Japonés a Dólar estadounidense
    ("USD -> CNY", 7.2),       # Dólar estadounidense a Yuan Chino
    ("CNY -> USD", 1/7.2),     # Yuan Chino a Dólar estadounidense
    ("USD -> CAD", 1.36),      # Dólar estadounidense a Dólar Canadiense
    ("CAD -> USD", 1/1.36),    # Dólar Canadiense a Dólar estadounidense
]

longitudes = [
    ("M -> KM", 0.001),        # Metro a Kilómetro
    ("M -> CM", 100),          # Metro a Centímetro
    ("M -> MM", 1000),         # Metro a Milímetro
    ("M -> IN", 39.3701),      # Metro a Pulgada
    ("M -> FT", 3.28084),      # Metro a Pie
    ("M -> YD", 1.09361),      # Metro a Yarda
    ("KM -> MI", 0.621371),    # Kilómetro a Milla
    ("MI -> KM", 1.60934),     # Milla a Kilómetro
    ("M -> µM", 1_000_000),    # Metro a Micrómetro
    ("M -> NM", 1_000_000_000) # Metro a Nanómetro
]

masas = [
    ("KG -> G", 1000),         # Kilogramo a Gramo
    ("KG -> MG", 1_000_000),   # Kilogramo a Miligramo
    ("KG -> LB", 2.20462),     # Kilogramo a Libra
    ("KG -> OZ", 35.274),      # Kilogramo a Onza
    ("G -> KG", 0.001),        # Gramo a Kilogramo
    ("G -> MG", 1000),         # Gramo a Miligramo
    ("LB -> KG", 0.453592),    # Libra a Kilogramo
    ("OZ -> G", 28.3495),      # Onza a Gramo
    ("T -> KG", 1000),         # Tonelada a Kilogramo
    ("KG -> T", 0.001)         # Kilogramo a Tonelada
]

almacenamiento = [
    ("B -> KB", 1/1024),       # Byte a Kilobyte
    ("KB -> MB", 1/1024),      # Kilobyte a Megabyte
    ("MB -> GB", 1/1024),      # Megabyte a Gigabyte
    ("GB -> TB", 1/1024),      # Gigabyte a Terabyte
    ("TB -> PB", 1/1024),      # Terabyte a Petabyte
    ("KB -> B", 1024),         # Kilobyte a Byte
    ("MB -> KB", 1024),        # Megabyte a Kilobyte
    ("GB -> MB", 1024),        # Gigabyte a Megabyte
    ("TB -> GB", 1024),        # Terabyte a Gigabyte
    ("PB -> TB", 1024)         # Petabyte a Terabyte
]

tiempos = [
    ("S -> MIN", 1/60),        # Segundo a Minuto
    ("S -> H", 1/3600),        # Segundo a Hora
    ("MIN -> S", 60),          # Minuto a Segundo
    ("MIN -> H", 1/60),        # Minuto a Hora
    ("H -> S", 3600),          # Hora a Segundo
    ("H -> MIN", 60),          # Hora a Minuto
    ("D -> H", 24),            # Día a Hora
    ("SEM -> D", 7),           # Semana a Día
    ("AÑO -> D", 365),         # Año a Día
    ("D -> SEM", 1/7)          # Día a Semana
]

volumenes = [
    ("L -> ML", 1000),         # Litro a Mililitro
    ("L -> GAL", 0.264172),    # Litro a Galón (EE. UU.)
    ("L -> PINT", 2.11338),    # Litro a Pinta (EE. UU.)
    ("ML -> L", 0.001),        # Mililitro a Litro
    ("GAL -> L", 3.78541),     # Galón (EE. UU.) a Litro
    ("M³ -> L", 1000),         # Metro cúbico a Litro
    ("L -> M³", 0.001),        # Litro a Metro cúbico
    ("L -> CM³", 1000),        # Litro a Centímetro cúbico
    ("OZ -> ML", 29.5735),     # Onza líquida a Mililitro
    ("IN³ -> L", 0.0163871)    # Pulgada cúbica a Litro
]

areas = [
    ("M² -> KM²", 0.000001),       # Metro cuadrado a Kilómetro cuadrado
    ("M² -> HA", 0.0001),          # Metro cuadrado a Hectárea
    ("M² -> ACRE", 0.000247105),   # Metro cuadrado a Acre
    ("HA -> M²", 10_000),          # Hectárea a Metro cuadrado
    ("ACRE -> M²", 4046.86),       # Acre a Metro cuadrado
    ("KM² -> M²", 1_000_000),      # Kilómetro cuadrado a Metro cuadrado
    ("M² -> CM²", 10_000),         # Metro cuadrado a Centímetro cuadrado
    ("MANZ -> M²", 6987),          # Manzana a Metro cuadrado
    ("TAREA -> M²", 437.5),        # Tarea a Metro cuadrado
    ("M² -> MANZ", 1/6987)         # Metro cuadrado a Manzana
]


# -------------------------
# Funciones de cada conversor
# -------------------------
def mostrar_conversor(valor, lista, titulo):
    print(f"\n=== Conversor de {titulo} ===")
    for nombre, factor in lista:
        print(f"{valor} {nombre} = {convertir(valor, factor):.4f}")

# -------------------------
# MENÚ PRINCIPAL
# -------------------------
while True:
    print("\n===== MENÚ PRINCIPAL =====")
    print("1. Conversor de Monedas")
    print("2. Conversor de Longitud")
    print("3. Conversor de Masa")
    print("4. Conversor de Almacenamiento")
    print("5. Conversor de Tiempo")
    print("6. Conversor de Volumen")
    print("7. Conversor de Área")
    print("8. Salir")

    opcion = input("Elige una opción: ")

    if opcion == "1":
        valor = float(input("Ingrese cantidad en Dólares estadounidenses: "))
        mostrar_conversor(valor, monedas, "Monedas")
    elif opcion == "2":
        valor = float(input("Ingrese valor en Metros: "))
        mostrar_conversor(valor, longitudes, "Longitud")
    elif opcion == "3":
        valor = float(input("Ingrese valor en Kilogramos: "))
        mostrar_conversor(valor, masas, "Masa")
    elif opcion == "4":
        valor = float(input("Ingrese valor en Bytes: "))
        mostrar_conversor(valor, almacenamiento, "Almacenamiento")
    elif opcion == "5":
        valor = float(input("Ingrese valor en Segundos: "))
        mostrar_conversor(valor, tiempos, "Tiempo")
    elif opcion == "6":
        valor = float(input("Ingrese valor en Litros: "))
        mostrar_conversor(valor, volumenes, "Volumen")
    elif opcion == "7":
        valor = float(input("Ingrese valor en Metros cuadrados: "))
        mostrar_conversor(valor, areas, "Área")
    elif opcion == "8":
        print("¡Hasta luego!")
        break
    else:
        print("Opción inválida.")

===== MENÚ PRINCIPAL =====
1. Conversor de Monedas
2. Conversor de Longitud
3. Conversor de Masa
4. Conversor de Almacenamiento
5. Conversor de Tiempo
6. Conversor de Volumen
7. Conversor de Área
8. Salir
Elige una opción: 1
Ingrese cantidad en Dólares estadounidenses: 4

=== Conversor de Monedas ===
4.0 USD -> EUR = 3.4400
4.0 EUR -> USD = 4.6512
4.0 USD -> MXN = 75.3200
4.0 MXN -> USD = 0.2124
4.0 USD -> GBP = 3.2800
4.0 GBP -> USD = 4.8780
4.0 USD -> JPY = 570.0000
4.0 JPY -> USD = 0.0281
4.0 USD -> CNY = 28.8000
4.0 CNY -> USD = 0.5556
4.0 USD -> CAD = 5.4400
4.0 CAD -> USD = 2.9412

===== MENÚ PRINCIPAL =====
1. Conversor de Monedas
2. Conversor de Longitud
3. Conversor de Masa
4. Conversor de Almacenamiento
5. Conversor de Tiempo
6. Conversor de Volumen
7. Conversor de Área
8. Salir
Elige una opción: 8
¡Hasta luego!

# Realizar un conversor propio, donde especifiqué el valor de conversión: (10%)

In [ ]:
def convertir_cajas():
    unidades = float(input("Ingrese cantidad de unidades: "))
    cajas = unidades / 25
    print(f"{unidades} unidades = {cajas:.2f} cajas")

    fraccion = input("¿Desea convertir una fracción de caja? (ej. 3/5): ")
    if fraccion:
        num, den = map(float, fraccion.split("/"))
        fraccion_caja = (num / den) * 25
        print(f"{fraccion} de caja = {fraccion_caja:.2f} unidades")

def convertir_sacos():
    libras = float(input("Ingrese cantidad de libras: "))
    sacos = libras / 50
    print(f"{libras} libras = {sacos:.2f} sacos")

    fraccion = input("¿Desea convertir una fracción de saco? (ej. 2/30): ")
    if fraccion:
        num, den = map(float, fraccion.split("/"))
        fraccion_saco = (num / den) * 50
        print(f"{fraccion} de saco = {fraccion_saco:.2f} libras")

def convertir_fardos():
    unidades = float(input("Ingrese cantidad de unidades: "))
    fardos = unidades / 5
    print(f"{unidades} unidades = {fardos:.2f} fardos")

    fraccion = input("¿Desea convertir una fracción de fardo? (ej. 5/3): ")
    if fraccion:
        num, den = map(float, fraccion.split("/"))
        fraccion_fardo = (num / den) * 5
        print(f"{fraccion} de fardo = {fraccion_fardo:.2f} unidades")

def menu():
    print("\n📦 Conversor de unidades")
    print("1. Convertir cajas")
    print("2. Convertir sacos")
    print("3. Convertir fardos")
    print("4. Salir")

    while True:
        opcion = input("\nSeleccione una opción (1-4): ")
        if opcion == "1":
            convertir_cajas()
        elif opcion == "2":
            convertir_sacos()
        elif opcion == "3":
            convertir_fardos()
        elif opcion == "4":
            print("¡Gracias por usar el conversor!")
            break
        else:
            print("Opción inválida. Intente de nuevo.")

menu()

📦 Conversor de unidades
1. Convertir cajas
2. Convertir sacos
3. Convertir fardos
4. Salir

Seleccione una opción (1-4): 1
Ingrese cantidad de unidades: 5
5.0 unidades = 0.20 cajas
¿Desea convertir una fracción de caja? (ej. 3/5): 1/5
1/5 de caja = 5.00 unidades

Seleccione una opción (1-4): 4
¡Gracias por usar el conversor!

# 1. Determinar si un número es primo

In [ ]:
num = int(input("Num: "))

if num < 2:
    print(f"El número {num} NO es primo")
else:
    acum = 0
    i = 1
    while i <= num and acum <= 2:
        if num % i == 0:
            acum += 1
        i += 1
    if acum <= 2:
        print(f"El número {num} ES primo")
    else:
        print(f"El número {num} NO es primo")

Num: 2
El número 2 ES primo

# 2. Tabla de multiplicar con opción de repetir

In [ ]:
continuar = "s"
while continuar.lower() == "s":
    ntabla = int(input("Tabla: "))
    for i in range(1, 11):
        print(f"{ntabla} x {i} = {ntabla * i}")
    continuar = input("¿Continuar? (s para seguir, cualquier otra tecla para salir): ")

Tabla: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
¿Continuar? (s para seguir, cualquier otra tecla para salir):

# Clase calculadora con método sumar y Self

In [ ]:
class Calculadora:
    def sumar(self, num1, num2):
        return num1 + num2

objCalculadora = Calculadora()
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print(f"{num1} + {num2} = {objCalculadora.sumar(num1, num2)}")

Num1: 2
Num2: 3
2.0 + 3.0 = 5.0

# Clase estadistica para media y desviación típica

In [ ]:
from math import sqrt

class Estadistica:
    def media(self, serie):
        suma = sum(int(num) for num in serie)
        return suma / len(serie)

    def desviacion_tipica(self, serie):
        media = self.media(serie)
        suma = sum((int(num) - media) ** 2 for num in serie)
        return sqrt(suma / len(serie))

serie = input("Serie ejem: 1,5,2,3: ").split(",")
objEstadistica = Estadistica()
print("La media es:", objEstadistica.media(serie))
print("La desviación típica es:", round(objEstadistica.desviacion_tipica(serie), 2))

Serie ejem: 1,5,2,3: 7
La media es: 7.0
La desviación típica es: 0.0

# **TAREA 26/08/2025**

**1.   Encontrar la varianza en una serie de numeros introducidos por el usuario.\n**

**2.   Encontrar la frecuencia en una serie de numeros introducidos por el usuario.\n**

**3.   Escriba un programa que determine si una palabra es palinbdrome. Ejm. ana, oso, oro, reconocer, bob, somos, ala, salas, etc.\n**

In [ ]:
from collections import Counter

def calcular_varianza():
    entrada = input("Ingrese números separados por comas: ")
    try:
        numeros = [float(x.strip()) for x in entrada.split(",")]
        if len(numeros) < 2:
            print(" Se necesitan al menos dos números para calcular la varianza.") ##formula de  varianza muestral
            return
        media = sum(numeros) / len(numeros)
        varianza = sum((x - media) ** 2 for x in numeros) / (len(numeros) - 1) ##divide la suma por el número de elementos (n) menos -1
        print(f" La varianza es: {round(varianza, 2)}")
    except ValueError:
        print(" Error: Ingrese solo números válidos separados por comas.")

def calcular_frecuencia():
    entrada = input("Ingrese números separados por comas: ") ##Valida que los datos sean enteros.
    try:
        numeros = [int(x.strip()) for x in entrada.split(",")]
        frecuencia = Counter(numeros)           ##Usa Counter para contar cuántas veces aparece cada número.
        print(" Frecuencia de cada número:")
        for numero in sorted(frecuencia):
            print(f"  {numero}: {frecuencia[numero]} vez/veces")
    except ValueError:
        print(" Error: Ingrese solo números enteros separados por comas.")

def es_palindromo():
    palabra = input("Ingrese una palabra ok: ").lower().replace(" ", "")
    if palabra == palabra[::-1]: ##Compara la palabra con su reverso
        print(f" '{palabra}' es un palíndromo,has aprobado")
    else:
        print(f" '{palabra}' no es un palíndromo,no has aprobado")

def menu():
    while True:
        print("\n MENÚ DE OPCIONES")
        print("1. Calcular la varianza de una serie de números")
        print("2. Calcular la frecuencia de una serie de números")
        print("3. Verificar si una palabra es palíndromo")
        print("4. Salir ")

        opcion = input("Seleccione una opción (1-4): ")

        if opcion == "1":
            calcular_varianza()
        elif opcion == "2":
            calcular_frecuencia()
        elif opcion == "3":
            es_palindromo()
        elif opcion == "4":
            print(" ya has finalizado ok. ¡Hasta pronto y hasta nunca!")
            break
        else:
            print(" Opción inválida. Intente de nuevo y bien ok.")

# Ejecutar este pinche menú
menu()

 MENÚ DE OPCIONES
1. Calcular la varianza de una serie de números
2. Calcular la frecuencia de una serie de números
3. Verificar si una palabra es palíndromo
4. Salir
Seleccione una opción (1-4): 3
Ingrese una palabra ok: reconocer
 'reconocer' es un palíndromo,has aprobado

 MENÚ DE OPCIONES
1. Calcular la varianza de una serie de números
2. Calcular la frecuencia de una serie de números
3. Verificar si una palabra es palíndromo
4. Salir
Seleccione una opción (1-4): 1
Ingrese números separados por comas: 4,3,2,6
 La varianza es: 2.92

 MENÚ DE OPCIONES
1. Calcular la varianza de una serie de números
2. Calcular la frecuencia de una serie de números
3. Verificar si una palabra es palíndromo
4. Salir
Seleccione una opción (1-4): 4
 ya has finalizado ok. ¡Hasta pronto y hasta nunca!

Crear un programa que calcule el mayor de N  numeros

In [ ]:
class Calculadora:
    def mayor(self,serie):
      nMayor= 0
      for i in serie:
        num =int(i)
        if(num>nMayor):
          nMayor=num
      return nMayor

In [ ]:
calcular = Calculadora()
serie = input("Serie (ejem: 1,5,4,9,3): ").split(",")
print(serie)
print("El mayor es:", calcular.mayor(serie))

Serie (ejem: 1,5,4,9,3): 9,8,7,6,4,3,2
['9', '8', '7', '6', '4', '3', '2']
El mayor es: 9

Crear un programa que calcule el mayor y el menor de N numeros

In [ ]:
class Calculadora:
    def ejercicio(self, serie):
        numeros = [int(i) for i in serie]
        numeros.sort()
        menor = numeros[0]
        mayor = numeros[-1]
        return numeros, menor, mayor

calcular = Calculadora()
serie = input("Serie (ejem: 5,3,9,1,7): ").split(",")
ordenados, menor, mayor = calcular.ejercicio(serie)

print("\n Números ordenados de menor a mayor:", ordenados)
print(" El menor es:", menor)
print(" El mayor es:", mayor)

Serie (ejem: 5,3,9,1,7): 9,8,6,5,4

 Números ordenados de menor a mayor: [4, 5, 6, 8, 9]
 El menor es: 4
 El mayor es: 9

In [ ]:
#encontrar la persona de mayor edad en una lista de datos

personas = [
    {"nombre": "Luis", "edad": 30},
    {"nombre": "Juan", "edad": 40},
    {"nombre": "jorge", "edad": 20},
    {"nombre": "José", "edad": 10}
]

mayor = personas[0]
for persona in personas[1:]:
    if persona["edad"] > mayor["edad"]:
        mayor = persona

print(f"La persona de mayor edad es {mayor['nombre']} de {mayor['edad']} años.")

La persona de mayor edad es Juan de 40 años.

# Parcial 2 de Programación

1.	Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla. El monto de la actividad económica debe ser introducido por el usuario. (40%)

In [37]:
def calcular_impuesto(monto):
    tramos = [
        (0.01, 500, 1.5, 0),
        (500.01, 1000, 1.5, 3),
        (1000.01, 2000, 3, 3),
        (2000.01, 3000, 6, 3),
        (3000.01, 6000, 9, 2),
        (8000.01, 18000, 15, 2),
        (18000.01, 30000, 39, 2),
        (30000.01, 60000, 63, 1),
        (60000.01, 100000, 93, 0.8),
        (100000.01, 200000, 125, 0.7),
        (200000.01, 300000, 195, 0.6),
        (300000.01, 400000, 255, 0.45),
        (400000.01, 500000, 300, 0.4),
        (500000.01, 1000000, 340, 0.3),
        (1000000.01, 99999999, 490, 0.18)
    ]

    for desde, hasta, precio, adicional in tramos:
        if desde <= monto <= hasta:
            base = monto - desde
            impuesto = base / 1000 * adicional + precio
            return round(impuesto, 2)
    return 0.0

# Ejemplo
monto = float(input("Ingrese el monto de actividad económica: $"))
print(f"Impuesto a pagar: ${calcular_impuesto(monto)}")

Ingrese el monto de actividad económica: $1875.79
Impuesto a pagar: $5.63

2.	Desarrolle el conversor de Área (Superficie) haciendo uso de los diccionarios y las funciones de usuario en Python que contenga las siguientes opciones: (30%)

a.	Pie Cuadrado
b.	Vara Cuadrada
c.	Yarda Cuadrada
d.	Metro Cuadrado
e.	Tareas
f.	Manzana
g.	Hectárea

In [39]:
unidades_area = {
    "Pie Cuadrado": 0.092903,
    "Vara Cuadrada": 0.698737,
    "Yarda Cuadrada": 0.836127,
    "Metro Cuadrado": 1,
    "Tarea": 436.562,
    "Manzana": 6987.37,
    "Hectárea": 10000
}

# Función para mostrar menú
def mostrar_opciones():
    print("\n--- Conversor de Área (El Salvador) ---")
    for i, unidad in enumerate(unidades_area.keys(), start=1):
        print(f"{i}. {unidad}")

# Función para convertir áreas
def convertir_area(valor, desde, hacia):
    # Paso 1: convertir a metros cuadrados
    en_metros = valor * unidades_area[desde]
    # Paso 2: convertir a la unidad deseada
    return en_metros / unidades_area[hacia]

# Programa principal
def main():
    mostrar_opciones()
    op1 = int(input("\nElige la unidad de origen (número): "))
    op2 = int(input("Elige la unidad de destino (número): "))

    lista_unidades = list(unidades_area.keys())
    desde = lista_unidades[op1 - 1]
    hacia = lista_unidades[op2 - 1]

    valor = float(input(f"\nIngresa el valor en {desde}: "))
    resultado = convertir_area(valor, desde, hacia)

    print(f"\n {valor} {desde} equivalen a {resultado:.4f} {hacia}")

# Ejecutar
if __name__ == "__main__":
    main()

--- Conversor de Área (El Salvador) ---
1. Pie Cuadrado
2. Vara Cuadrada
3. Yarda Cuadrada
4. Metro Cuadrado
5. Tarea
6. Manzana
7. Hectárea

Elige la unidad de origen (número): 5
Elige la unidad de destino (número): 4

Ingresa el valor en Tarea: 1

 1.0 Tarea equivalen a 436.5620 Metro Cuadrado

3.	Desarrolle un programa en Python que simule a un cajero automático. Haga uso de las estructuras de control. (30%)

In [40]:
def simular_cajero(monto):
    billetes = [100, 50, 20, 10, 5, 1]
    monedas = [0.25, 0.10, 0.05, 0.01]
    desglose = {}

    # Procesar billetes
    for b in billetes:
        cantidad = int(monto // b)
        if cantidad > 0:
            desglose[f"${b}"] = cantidad
            monto -= cantidad * b

    # Redondear para evitar errores de punto flotante
    monto = round(monto, 2)

    # Procesar monedas
    for m in monedas:
        cantidad = int(monto // m)
        if cantidad > 0:
            desglose[f"${m:.2f}"] = cantidad
            monto -= cantidad * m
            monto = round(monto, 2)  # Re-redondear tras cada resta

    return desglose

# Ejecución del programa
try:
    monto = float(input(" Ingrese la cantidad a retirar: $"))
    if monto <= 0:
        print(" El monto debe ser mayor que cero.")
    else:
        resultado = simular_cajero(monto)
        print("\n Desglose de billetes y monedas:")
        for denominacion, cantidad in resultado.items():
            print(f"{cantidad} de {denominacion}")
except ValueError:
    print(" Entrada inválida. Debes ingresar un número válido.")

 Ingrese la cantidad a retirar: $99.89

 Desglose de billetes y monedas:
1 de $50
2 de $20
1 de $5
4 de $1
3 de $0.25
1 de $0.10
4 de $0.01