<a href="https://colab.research.google.com/github/LordShadow01/Programacion_lll/blob/main/CodigoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hola Mundo")
print("Bienvenidos chicos a programacion computacional lll")

Hola Mundo
Bienvenidos chicos a programacion computacional lll

In [5]:
nombre = "Jonathan Rosales"
edad = 20
print(nombre, edad)

edad = "Veinte"
print("Tu edad es", edad)

Jonathan Rosales 20
Tu edad es Veinte

In [7]:
num1 = 20
num2= 8.9
suma = num1 + num2
print("la suma es:",suma)

la suma es: 28.9

In [11]:
#Funciones

num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))
suma = num1 + num2
print("La suma es:", suma)

Ingresa el primer número: 2
Ingresa el segundo número: 2
La suma es: 4.0

In [12]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es:", resta)

Num1: 3
Num2: 2
La resta es: 1.0

In [13]:
#Uso de Funciones Y Tarea
#Resta
res1 = int(input("ingrese el primer numero: "))
res2 = int(input("ingrese el segundo numero: "))

Respuesta = res1 - res2
print("la resta de los numeros es:", Respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta de los numeros es: 0

In [14]:
#Resta de 2 Numeros
def restar_dos_numeros():
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    return num1 - num2

# Usando el resultado
resultado = restar_dos_numeros()
print("La resta de los números es:", resultado)

Ingrese el primer número: 5
Ingrese el segundo número: 4
La resta de los números es: 1

In [15]:
#Hacer un ejercicio en python haciendo uso de las funciones , que reste dos numeros introducirlos por el usuario Tarea....


#Ejercicio que convierta grados celcius a farenheit
def  celciusFarenheit(c):
  return c*1.8 + 32

In [16]:
c= int(input("Grados c: "))
f= celciusFarenheit(c)
print("F ",f)

Grados c: 4
F  39.2

In [17]:
#ejercicio de grados farenheit a celcius
def farenheitCelcius(f):
  return (f-32) / 1.8 #5/9

In [18]:
f= float(input("Grados f: "))
c= farenheitCelcius(f)
print("C ",c)

Grados f: 3
C  -16.11111111111111

In [19]:
#ejercicio de celcius a kelvin
def celciusKelvin(c):
  return c + 273.15

In [20]:
c= float(input("Grados c: "))
k= celciusKelvin(c)
print("K ",k)

Grados c: 2
K  275.15

In [21]:
#Ejercicio que calcule el suelto de un empleado segun el numero de horas trabajadas  y el valor de horas
def sueldo(numHrs, valorXhr):
    sueldo = numHrs * valorXhr * 30
    return sueldo

numHrs = float(input("Hrs: "))
valorXhr = float(input("valorXhr: "))
sueldo = sueldo(numHrs, valorXhr)
print("sueldo: ", sueldo)

Hrs: 5
valorXhr: 1
sueldo:  150.0

In [22]:
#Ejercicio  que permita elevar un numero a un exponente

def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))
resultado = exponenciacion(b,e)
print("El numero :", b,", elevado a",e,",el resultado es:",resultado)

Base: 3
Exponente: 1
El numero : 3.0 , elevado a 1.0 ,el resultado es: 3.0