<a href="https://colab.research.google.com/github/LordShadow01/Programacion_lll/blob/main/CodigoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programacion computacional lll")

Hola Mundo
Bienvenidos chicos a programacion computacional lll

In [ ]:
nombre = "Jonathan Rosales"
edad = 20
print(nombre, edad)

edad = "Veinte"
print("Tu edad es", edad)

Jonathan Rosales 20
Tu edad es Veinte

In [ ]:
num1 = 20
num2= 8.9
suma = num1 + num2
print("la suma es:",suma)

la suma es: 28.9

In [ ]:
#Funciones

num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))
suma = num1 + num2
print("La suma es:", suma)

Ingresa el primer número: 2
Ingresa el segundo número: 2
La suma es: 4.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("La resta es:", resta)

Num1: 3
Num2: 2
La resta es: 1.0

In [ ]:
#Uso de Funciones Y Tarea
#Resta
res1 = int(input("ingrese el primer numero: "))
res2 = int(input("ingrese el segundo numero: "))

Respuesta = res1 - res2
print("la resta de los numeros es:", Respuesta)

ingrese el primer numero: 2
ingrese el segundo numero: 2
la resta de los numeros es: 0

In [ ]:
#Resta de 2 Numeros
def restar_dos_numeros():
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    return num1 - num2

# Usando el resultado
resultado = restar_dos_numeros()
print("La resta de los números es:", resultado)

Ingrese el primer número: 5
Ingrese el segundo número: 4
La resta de los números es: 1

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones , que reste dos numeros introducirlos por el usuario Tarea....


#Ejercicio que convierta grados celcius a farenheit
def  celciusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c= int(input("Grados c: "))
f= celciusFarenheit(c)
print("F ",f)

Grados c: 4
F  39.2

In [ ]:
#ejercicio de grados farenheit a celcius
def farenheitCelcius(f):
  return (f-32) / 1.8 #5/9

In [ ]:
f= float(input("Grados f: "))
c= farenheitCelcius(f)
print("C ",c)

Grados f: 3
C  -16.11111111111111

In [ ]:
#ejercicio de celcius a kelvin
def celciusKelvin(c):
  return c + 273.15

In [ ]:
c= float(input("Grados c: "))
k= celciusKelvin(c)
print("K ",k)

Grados c: 2
K  275.15

In [ ]:
#Ejercicio que calcule el suelto de un empleado segun el numero de horas trabajadas  y el valor de horas
def sueldo(numHrs, valorXhr):
    sueldo = numHrs * valorXhr * 30
    return sueldo

numHrs = float(input("Hrs: "))
valorXhr = float(input("valorXhr: "))
sueldo = sueldo(numHrs, valorXhr)
print("sueldo: ", sueldo)

Hrs: 5
valorXhr: 1
sueldo:  150.0

In [ ]:
#Ejercicio  que permita elevar un numero a un exponente

def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))
resultado = exponenciacion(b,e)
print("El numero :", b,", elevado a",e,",el resultado es:",resultado)

Base: 3
Exponente: 1
El numero : 3.0 , elevado a 1.0 ,el resultado es: 3.0

In [ ]:
#Uso de funcion lambda y preconstruidas con map, filter y reduce......................



# ....We can't fix it if we never face it(Free)

def suma(a, b):
  return a + b

a = float(input("Num1: "))
b = float(input("Num2: "))
resultado_suma = suma(a, b)
print("La suma es:", resultado_suma)

Num1: 2
Num2: 4
La suma es: 6.0

In [ ]:
# Ejemplo de uso de una función anónima (lambda) para sumar
a = float(input("Num1: "))
b = float(input("Num2: "))

sum_lambda = lambda a, b: a + b
print("La suma de", a, "más", b, "es igual a", sum_lambda(a, b))

Num1: 3
Num2: 4
La suma de 3.0 más 4.0 es igual a 7.0

In [ ]:
# map() con función tradicional
def extraer_primera_letra(dia):
  return dia[0]

semana = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

primera_letra_dia = list(map(extraer_primera_letra, semana))
print(primera_letra_dia)

mayus_semana = list(map(lambda dia: dia.upper(), semana))
print(mayus_semana)

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIÉRCOLES', 'JUEVES', 'VIERNES', 'SÁBADO']

In [ ]:
# map() para calcular la potencia de una lista de números
numeros = [2, 4, 6, 8, 7, 9]
potencia = int(input("Potencia: "))

numero_potencia = list(map(lambda num: num**potencia, numeros))
print(numero_potencia)

Potencia: 3
[8, 64, 216, 512, 343, 729]

In [ ]:
# map() para generar una tabla de multiplicar
ntabla = int(input("Tabla:"))
numeros_tabla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tabla_multiplicar = list(map(lambda num: num * ntabla, numeros_tabla))
print(tabla_multiplicar)

Tabla:4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [ ]:
# filter() para encontrar números pares e impares
serie = [5, 6, 9, 2, 7, 8]

pares = list(filter(lambda num: num % 2 == 0, serie))
print("Pares:", pares)

impares = list(filter(lambda num: num % 2 != 0, serie))
print("Impares:", impares)

Pares: [6, 2, 8]
Impares: [5, 9, 7]

In [ ]:
# filter() con entrada del usuario
serie_user = input("Introduce una serie de números separados por comas (ej: 5,2,8,1): ")
serie_user_lista = serie_user.split(",")

pares_user = list(filter(lambda num: int(num) % 2 == 0, serie_user_lista))
print("Pares:", pares_user)

impares_user = list(filter(lambda num: int(num) % 2 != 0, serie_user_lista))
print("Impares:", impares_user)

Introduce una serie de números separados por comas (ej: 5,2,8,1): 2,3,4,5
Pares: ['2', '4']
Impares: ['3', '5']

In [ ]:
# Hacer un ejercicio en python usando la funcion filter y lambda que de una serie de notas introducidas por el usuario,
# establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

notas_str = input("Introduce las notas separadas por comas (ej: 8,5,7.5,4): ")
notas_lista = [float(nota) for nota in notas_str.split(",")]

aprobados = list(filter(lambda nota: nota >= 6, notas_lista))
reprobados = list(filter(lambda nota: nota < 6, notas_lista))

print(f"Notas aprobadas: {aprobados} ({len(aprobados)} alumnos)")
print(f"Notas reprobadas: {reprobados} ({len(reprobados)} alumnos)")

Introduce las notas separadas por comas (ej: 8,5,7.5,4): 3,4,7,8,9
Notas aprobadas: [7.0, 8.0, 9.0] (3 alumnos)
Notas reprobadas: [3.0, 4.0] (2 alumnos)

In [ ]:
# reduce() para sumar todos los elementos de una lista
from functools import reduce

numeros = [5, 4, 9, 6, 8, 2, 3]

suma_total = reduce(lambda acumulador, num: acumulador + num, numeros)
print("La suma es:", suma_total)

suma_pares = reduce(lambda acumulador, num: acumulador + num, filter(lambda num: num % 2 == 0, numeros))
print("La suma de los pares es:", suma_pares)

La suma es: 37
La suma de los pares es: 20

In [ ]:
#reduce
from functools import reduce

numeros = [5, 4, 9, 6, 8, 2, 3]
suma = reduce(lambda acum, num: num+acum,numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0,numeros))
sumaPar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros, 0)

print("La suma es:", suma)
print("La suma de los pares es:", sumaPares)
print("La suma de los pares es:", sumaPar)

La suma es: 37
La suma de los pares es: 20
La suma de los pares es: 20

In [ ]:
#tupla ejemplo
tupla =(5,2,3,7,8,5)
print("Turpla:",tupla, "Primer elemento:",tupla[0],"El ultimo 5 parece",tupla.count(5))
print("El ultimo elemento es:",tupla[-1])
print("Rango:", tupla[0:5])

Turpla: (5, 2, 3, 7, 8, 5) Primer elemento: 5 El ultimo 5 parece 2
El ultimo elemento es: 5
Rango: (5, 2, 3, 7, 8)

##sacar un dia en una semana

In [ ]:
## sacar un dia en una semana
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado")
mes = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diasemana = semana[fecha.isoweekday()]

print(fecha, fecha.isoweekday(),diasemana)
print(dia,mes,year)

2025-08-12 2 Martes
12 8 2025

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado")
meses = ("","Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year

diasemana = semana[fecha.isoweekday()]

print(diasemana,dia,"del",meses[mes],"del",year)
print(fecha, fecha.isoweekday(),diasemana)
print(dia,mes,year)

Martes 12 del Agosto del 2025
2025-08-12 2 Martes
12 8 2025

##Las Listas

In [ ]:
lista =[5,8,9,4,"program lll",True, [4,8,9,[8,9,4]]]
print(lista)

[5, 8, 9, 4, 'program lll', True, [4, 8, 9, [8, 9, 4]]]

## Hacer un ejercicio en python que obtenga la nota final de progra lll del computo l,haciendo uso de las listas y de las tuplas

In [ ]:
def calcularPromedio(nota,notas):
  return notas[1]*0.3 + nota ##8*0.3 + 9*0.3 +10*

In [ ]:
from functools import reduce

notas = [
    ["lab1", 9, 0.3],
    ["lab2", 9, 0.3],
    ["parcial", 10, 0.4]
]

def calcularPromedio(acumulado, nota):
    return acumulado + nota[1] * nota[2]

prom = reduce(calcularPromedio, notas, 0)

print("Nota final:", round(prom, 2))

Nota final: 9.4

In [ ]:
notas = {"lab1": 9, "lab2": 9, "parcial": 10}
prom = notas["lab1"] * 0.3 + notas["lab2"] * 0.3 + notas["parcial"] * 0.4
print("Nota final:", int(prom * 10) / 10)

Nota final: 9.3

# **Nota Final de Progra III usando reduce**

In [1]:
from functools import reduce

def calcularPromedio(total, actividad):
    return total + actividad[1] * actividad[2]

# Computo I: Lab1, Lab2, Parcial
notas = [
    ["Lab1", 8, 0.3],
    ["Lab2", 9, 0.3],
    ["Parcial", 10, 0.4]
]

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de Progra III:", prom)

Nota Final de Progra III: 9.1

# **Ingreso de notas por el usuario**

In [2]:
from functools import reduce

def calcularPromedio(total, actividad):
    return total + actividad[1] * actividad[2]

notas = []
for i in range(1, 4):
    nota = float(input(f"Act {i}: "))
    porcentaje = float(input("Porcentaje: "))
    notas.append([f"Act {i}", nota, porcentaje])

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de C1:", prom)

Act 1: 3
Porcentaje: 3
Act 2: 2
Porcentaje: 1
Act 3: 3
Porcentaje: 4
Nota Final de C1: 23.0

# **Ordenamiento de lista**

In [3]:
valores = [5, 8, 9, 1, 3, 4, 7]

print("Lista original:", valores)

valores.sort()
print("Ordenados de menor a mayor:", valores)

valores.reverse()
print("Ordenados de mayor a menor:", valores)

Lista original: [5, 8, 9, 1, 3, 4, 7]
Ordenados de menor a mayor: [1, 3, 4, 5, 7, 8, 9]
Ordenados de mayor a menor: [9, 8, 7, 5, 4, 3, 1]

# **Diccionarios**

In [4]:
persona = {
    "codigo": "USIS018804",
    "nombre": "Luis Hernandez",
    "materias": [
        {
            "codigo": 611,
            "nombre": "Programacion I",
            "notas": {
                "c1": {"lab1": 8, "lab2": 9.9, "parcial": 10},
                "c2": {"lab1": 7.78, "lab2": 6.5, "parcial": 8},
                "c3": {"lab1": 10, "lab2": 9, "parcial": 9}
            }
        },
        {
            "codigo": 612,
            "nombre": "Programacion II",
            "notas": {
                "c1": {"lab1": 5, "lab2": 7, "parcial": 9},
                "c2": {"lab1": 9, "lab2": 6, "parcial": 10},
                "c3": {"lab1": 10, "lab2": 10, "parcial": 9}
            }
        }
    ]
}

print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI:",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"])

Luis Hernandez -> Programacion I -> CI: {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

# **Clasificación de edades**

In [5]:
edad = int(input("Edad: "))

if edad < 0:
    print("Error al ingresar la edad, solo valores positivos.")
elif edad <= 2:
    print("Eres un bebé...")
elif edad <= 11:
    print("Eres un niño...")
elif edad < 18:
    print("Eres un adolescente...")
elif edad < 65:
    print("Eres un adulto responsable...")
elif edad < 85:
    print("Eres un adulto mayor...")
else:
    print("Larga vida...")

Edad: 20
Eres un adulto responsable...